<%= form_with(model: workout, data: {controller: "nested-form", nested_form_wrapper_selector_value: '.nested-form-wrapper'}) do |form| %>
    <% if @workout.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited
          this workout from being saved:</h2>
      <ul>
      <% workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
   
    <div class="field form-group m-3">
      <%= form.text_field :title, class: "form-control", placeholder:"Title" %>
    </div>

    <div class="field form-group m-3">
      <%= form.label :date %><br />
      <%= form.date_select :date, class: "form-control" %>
    </div>

    <div class="field form-group m-3">
      <%= form.text_area :notes, class: "form-control", placeholder:"Notes" %>
    </div>

    <div class="field form-group m-3">
      <%= form.number_field :user_id, id: :workout_user_id, class: "form-control", value:current_user.id, type: :hidden %>
    </div>
    
    <div class="m-3">
      <template data-nested-form-target="template">
        <%= form.fields_for :exercises, Exercise.new, child_index: 'NEW_RECORD' do |exercise_fields| %>
          <%= render "workouts/workout_exercise_form", f: exercise_fields %>
        <% end %>
      </template>
    </div>


    <div class="m-3">
      <%= form.fields_for :exercises do |exercise_fields| %>
        <%= render "workouts/workout_exercise_form", f: exercise_fields %>
      <% end %>
    </div>


    <div data-nested-form-target="target" class="m-3"></div>
    <button type="button" data-action="nested-form#add" class="btn btn-outline-success btn-sm m-3">Add exercise</button>

    <div class="field form-group m-3">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control" %>
    </div>

    <hr/>

    <div class="actions m-3">
      <%= form.submit class:"btn btn-outline-warning" %>
    </div>
  <% end %>