<%= form_for(@workout) do |f| %>
    <% if @workout.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited
          this workout from being saved:</h2>
      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
   
    <div class="field form-group m-3">
      <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
    </div>

    <div class="field form-group m-3">
      <%= f.label :date %><br />
      <%= f.date_select :date, class: "form-control" %>
    </div>

    <div class="field form-group m-3">
      <%= f.text_area :notes, class: "form-control", placeholder:"Notes" %>
    </div>

    <div class="field form-group m-3">
      <%= f.number_field :user_id, id: :workout_user_id, class: "form-control", value:current_user.id, type: :hidden %>
    </div>
    
    
    <div class="actions m-3">
      <%= f.submit class:"btn btn-outline-warning" %>
    </div>
  <% end %>