<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">


  <div class="card w-75 mb-3">
    <div class="card-body field form-group">
      <h5 class="card-title">New exercise</h5>
      <% f.label :name %>
      <%= f.text_field :name, class: "form-control m-1", placeholder:"Name" %>
  
      <% f.label :sets %>
      <%= f.number_field :sets, class: "form-control m-1", placeholder:"Sets" %>

      <% f.label :reps %>
      <%= f.number_field :reps, class: "form-control m-1", placeholder:"Reps" %>

      <% f.label :rpe %>
      <%= f.number_field :rpe, class: "form-control m-1", placeholder:"RPE" %>

      <% f.label :weight %>
      <%= f.number_field :weight, class: "form-control m-1", placeholder:"Weight" %>

      <button type="button" data-action="nested-form#remove" class="btn btn-outline-danger btn-sm m-1">Remove exercise</button>

    </div>
  </div>

  <%= f.hidden_field :_destroy %>
</div>
