<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark"><%= image_tag 'logo.jpeg', width: 60, height:60, class:"img-thumbnail" %>
  <div class="container-fluid">
    <%= link_to 'Workout Journal App', root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <%  if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Workouts", workouts_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "New Workout", new_workout_url, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Body Weight Tracker", body_weights_url, class:"nav-link" %>
          </li>
        
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
          </li>

        <% end %>

      </ul>

      <div style="color: white;">Dark Mode</div>

      <div class="form-check form-switch mx-4">
        <input 
          class="form-check-input p-2"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          onclick="toggleDarkMode()"
        />
      </div>

      <script>
        function toggleDarkMode() {
          var element = document.documentElement;
          var isDarkMode = element.dataset.bsTheme === "dark";
          element.dataset.bsTheme = isDarkMode ? "light" : "dark"

          // Save the current theme to localStorage
          localStorage.setItem('bsTheme', element.dataset.bsTheme);
          // Update the state of the checkbox
          document.getElementById('flexSwitchCheckChecked').checked = !isDarkMode;
        }

        // This function sets the initial state of the dark mode when the page loads
        function initializeDarkMode() {
          var savedTheme = localStorage.getItem('bsTheme') || "dark";
          document.documentElement.dataset.bsTheme = savedTheme;
          // Set the checkbox state based on the saved theme
          document.getElementById('flexSwitchCheckChecked').checked = savedTheme === "dark";
        }

        // Initialize dark mode on page load
        initializeDarkMode();
      </script>

      <form action="https://github.com/Louis-Solirius/FitnessJournalApp/">
        <input class="btn btn-outline-success" type="submit" value="View on Github" />
      </form>
      
    </div>
  </div>
</nav> 